*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

:root{
    --bs-back-color: #120820;
    --bs-text-color: #805FF5;
    --bs-button-color: #896FF7;
    --bs-text-second: #fff;
    --bs-text-third: #DCCEFD;
}

body {
    background-color: var(--bs-back-color);
}

.bg-color {
    background-color: var(--bs-back-color);
}

.text-color1 {
    color: var(--bs-text-color) !important;
}

.text-color2 {
    color: var(--bs-text-second) !important;
}

.text-color3 {
    color: var(--bs-text-third)  !important;
}

.common-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 50%;
}

.text-grey {
    color: #A19EA9;
    transition: all .3s linear;
}

.text-grey:hover {
    color: #4d3b9c;
}

a{
    text-decoration: none;
    color: #fff;
}

/* nav section start  */

.nav-link {
    font-weight: 600;
}

.nav-item .active {
    font-weight: 700;

}


/* nav section ends  */


/* hero section starts  */

.hero-para {
    font-weight: 600;
    font-size: 4rem;
}

.hero-section .btn-primary {
    background-color: var(--bs-button-color);
    color: var(--bs-text-second);
}

.hero-section .fa-chevron-right {
    font-size: .7rem;
}

.hero-section .profile-section img{
    box-shadow: 0px 0px 100px 10px rgba(201,96,201,0.5);
    width: 70%;
    position: relative;
    z-index: 1;
    transition: all .3s linear;
}

.hero-section .profile-section img:hover {
    transform: scale(1.03);
}

.hero-section .fa-brands {
    transition: all .2s linear;
    cursor: pointer;
}

.hero-section .fa-brands:hover {
    transform: scale(1.2);
} 
/* hero section end  */


/* skills section starts  */

.cardContainer {
    width: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
  }

  .card img {
    width: 10rem;
    margin: 1rem;
  }

  .cardText {
    font-size: 1.8em;
    color: white;
    margin: 1rem 0;
  }

  .cardContainer::before {
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left: 90px;
    top: 50px;
    transition: all 1s;
  }

  .cardContainer:hover::before {
    transform: translate(-50px, 50px);
  }

  /* skills section end  */